/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */

body {
  background: #EEE;
  font-family: sans-serif;
}
#header {
  background: #FFF;
  padding: 0 10px;
  margin-bottom: 16px;
  box-shadow: 0 0 10px #000000;
}
#header a {
  position: absolute;
  right: 20px;
  top: 12px;
}
#footer {
  background: #FFF;
  font-size: 0.8em;
  padding: 8px 10px;
  margin-top: 16px;
  box-shadow: 0 0 10px #000000;
}
#footer span {
  line-height: 30px;
  vertical-align: top;
}
.quickjump:before {
  content: "quick jump";
  font-weight: bold;
  font-size: 0.6em;
  text-align: right;
  display:block;
  padding: 2px 8px;

}
.quickjump {
  display: none;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
}
.tabs {
  padding: 8px;
}
.tabs a {
  display: inline-block;
  padding: 8px;
  border: 1px solid black;
  margin-right: 2px;
  text-decoration: none;
  color: #000;
}
.tabs a:hover {
  text-decoration: underline;
}
#content {
  margin: 0 10px;
}
.content-item {
  min-width: 400px;
  display: inline-block;
  vertical-align: top;
  background: #FFF;
  margin: 0 10px;
  padding: 10px;
  box-shadow: 0 0 10px #000000;
}
.content-item.routine {
  text-align: center;
}
.error {
  position: absolute;
  z-index: 100;
  width: 400px;
  background: #B60E0E;
  padding: 20px;
  color: #FFF;
  top: 16px;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}